@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron jumbotron-fluid bg-white text-dark d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="display-4">Welcome to GameGalaxy!</h1>
        <p class="lead"></p>
        <hr class="my-4 bg-light">
        <p>Start exploring games now!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="@Url.Action("GameList", "Games")" role="button">Explore Games</a>
        </p>
    </div>
</div>

